== render 'pages/nav'
= form_for(@article) do |f|
	=f.label 			:title
	=f.text_field :title
	.clear
	=f.label 			:content
	=f.text_area 	:content
	.clear

	=f.label 			:category, :class => 'category'
	=render partial: "category", locals: {categories: @categories, form: f, article_category: nil} 

	=f.submit 'save'