// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.box img
{
	max-width: 240px;
	min-height: 240px;
}

.box
{
	float: left;
	margin: 15px 20px 5px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	width: 240px;
}

.box h3
{
	text-decoration: underline;
	color: rgb(51, 102, 153);
	font-weight: bold;
	font-size: 21px;
	margin: 3px 0 0 10px;
}

.box p
{
	// display: block;
	font-size: 14px;
	line-height: 1.4em;
	margin-top: 5px;
	padding: 7px 0;
}

.category-list
{
	  float: left;
}



span.category
{
	background-color: #EAEAEA;
  background-image: linear-gradient(#FAFAFA, #EAEAEA);
  background-repeat: repeat-x;
  border: 1px solid #CCCCCC;
  color: #333333;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 26px;
  line-height: 25px;
  margin-right: -1px;
  padding: 0 9px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
  white-space: nowrap;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

span.category.selected
{
  background-color: #D5D5D5;
  background-image: linear-gradient(#CCCCCC, #D5D5D5);
  background-repeat: repeat-x;
  border-color: #BBBBBB;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075) inset;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}