/*----------------------------------------------------
NAV
----------------------------------------------------*/

div.nav {
  text-align: right;
  padding:  10px;
  margin:   0px 0 20px 0;
}

div.nav ul {
  margin:  0;
  padding: 0;
}

div.nav ul li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0 10px 0;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

div.nav ul li.quote {
  float:        left;
  padding-top:  4px;
  color:        #999;
}


div.nav ul li a {
  text-decoration: none;
}

div.nav ul li a.signin {
color: #25b4e2;
}

div.nav ul li a.signin:hover {
  color: #336699;
}


/*----------------------------------------------------
Home Page
----------------------------------------------------*/
body
{
  background: #fff;
  font-family: "ProximaNova", Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color: #000;
  text-align: center;
}



// body {
//   padding: 30px;
//   text-align: center;
//   background-color: #fff;
//   color: #222;
// }

div.container {
    margin: 0 auto 30px;
    padding: 0 30px;
    width: 880px;
}

div.content {
    margin-bottom: 40px;
    min-height: 360px;
}

div.production
{
  text-align: center;
  min-height: 360px;
}

a.box
{
  float: left;
  margin: 15px 20px 5px;
  width: 240px;
  text-decoration: none;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  // display: block;
}

a.box img
{
  max-width: 240px;
  min-height: 240px;
}



a.box h3
{
  color: rgb(51, 102, 153);
  font-weight: bold;
  font-size: 19px;
  margin: 6px 0 0 10px;
  text-align: center;
}

a.box p
{
  // display: block;
  font-size:    14px;
  line-height:  1.4em;
  margin-top:   2px;
  padding:      12px;
  color:        #656565;
}

hr
{
  clear: both;
  border: 0;
  background: white url('/images/img-hr.png') no-repeat scroll 50% 50%;
  color: transparent;
  height: 12px;
}

div.footer
{
  color: #666666;
  font-size: 80%;
  margin-top: 2em;
  overflow: hidden;
  margin-bottom: 40px;
  width:880px;;

}
.category-list
{
    float: left;
}



// span.category
// {
//   background-color: #EAEAEA;
//   background-image: linear-gradient(#FAFAFA, #EAEAEA);
//   background-repeat: repeat-x;
//   border: 1px solid #CCCCCC;
//   color: #333333;
//   cursor: pointer;
//   font-size: 12px;
//   font-weight: bold;
//   height: 26px;
//   line-height: 25px;
//   margin-right: -1px;
//   padding: 0 9px;
//   position: relative;
//   text-decoration: none;
//   text-shadow: 0 1px 0 #FFFFFF;
//   white-space: nowrap;
//   border-bottom-left-radius: 3px;
//   border-top-left-radius: 3px;
// }

// span.category.selected
// {
//   background-color: #D5D5D5;
//   background-image: linear-gradient(#CCCCCC, #D5D5D5);
//   background-repeat: repeat-x;
//   border-color: #BBBBBB;
//   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075) inset;
//   color: #333333;
//   text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
// }



/* general browser */


a {
  color: #3b6c9d;
}

a:hover {
  color: #6c9dce;
}

a:active, a:focus {
  outline: 0;
}